@page "~/Libraries/{libraryId:guid}/Videos/{videoId:guid}/Edit/{handler?}"
@model Edit
@{
    ViewData["Title"] = Model.Entity.Name;
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    @await Html.PartialAsync("_LibraryNavigation", Model.Library)
}

<div class="row">
    <form hx-post="@Url.Action("UploadFile", "Videos", new { version = "1.0", id = Model.VideoId, libraryId = Model.LibraryId })"
          asp-antiforgery="false" method="post" enctype="multipart/form-data" id="upload-form">
        <label for="file">Select file for video</label>
        <input id="file" name="file" type="file" accept="video/*"/>

        <button type="submit">Upload</button>
        <progress id="upload-progress" value="0" max="100"></progress>
    </form>
</div>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
    <script>
        htmx.on('#upload-form', 'htmx:xhr:progress', function(evt) {
            htmx.find('#upload-progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
        });
    </script>
}
