@page "~/Libraries/{handler?}"
@model Index
@{
    ViewData["Title"] = SharedResources.Libraries;
}

@section Head
{
    <link rel="prefetch" as="script" href="~/js/time-zone-select.js"/>
}

@section Navigation
{
    <partial name="Shared/_Navigation" model="@Model"/>
}

@await Html.PartialAsync("_AddLibrary", new AddLibraryModel { TimeZoneIds = Model.TimeZoneIds })

@if (Model.Entities.Count is not 0)
{
    <table>
        <thead>
        <tr>
            <td>
                @SharedResources.Library
            </td>
        </tr>
        </thead>
        <tbody>

        @foreach (var library in Model.Entities)
        {
            <tr>
                <td>
                    <a asp-page="Library" asp-route-libraryId="@library.Id">@library.Name</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@section Scripts
{
    <script src="~/js/time-zone-select.js"></script>
}
