@page "~/Libraries/{libraryId:guid}/Preferences/{handler?}"
@model LibrarySettings
@{
    ViewData["Title"] = $"Preferences - {Model.Entity.Name}";
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    <partial name="_LibraryNavigation" for="Entity"/>
}

<section id="channel-preferences">
    <partial name="Libraries/_UpdatePreferences" for="UpdatePreferencesModel"/>
</section>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
}
