@page "~/Libraries/{libraryId:guid}/{handler?}"
@model Library
@{
    ViewData["Title"] = Model.Entity.Name;
}

@section Navigation
{
    <partial name="_LibraryNavigation" for="Entity"/>
}

<partial name="Videos/_VideoFilters" model="@Model"/>

<section id="videos">
    <partial name="Videos/_FilteredVideos" model="@Model"/>
</section>
