@page "~/Libraries/{libraryId:guid}/Preferences/{handler?}"
@model LibrarySettings
@{
    ViewData["Title"] = $"{SharedResources.Preferences} - {Model.Entity.Name}";
}

@section Navigation
{
    <partial name="_LibraryNavigation" for="Entity"/>
}

<h2>@Model.Entity.Name</h2>
<hr/>

<section id="channel-preferences">
    <partial name="Libraries/_UpdatePreferences" for="UpdatePreferencesModel"/>
</section>

<hr/>

<section>
    <h5>@SharedResources.Libraries_Schedule_Subscriptions</h5>
    <partial name="Libraries/_UpdateSchedule" for="Schedules.Subscription"/>
</section>

<hr/>

<section>
    <h5>@SharedResources.Libraries_Schedule_Reindex</h5>
    <partial name="Libraries/_UpdateSchedule" for="Schedules.Reindex"/>
</section>
