@page "~/Libraries/{libraryId:guid}/Tasks/{handler?}"
@model Index
@{
    ViewData["Title"] = $"Tasks - {Model.Library.Name}";
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<div class="btn-group">
    <button hx-post="" hx-page-handler="ScanSubscriptions" class="btn btn-primary" type="button">
        Scan subscriptions
    </button>
    <button hx-post="" hx-page-handler="ScanSegments" class="btn btn-primary" type="button">
        Scan Sponsor Block segments
    </button>
</div>

<partial name="Tasks/_FilteredTasks" model="@Model"/>

@section Scripts
{
    <script>
        function onPollingChanged() {
            const input = document.querySelector("#task-polling");
            const tasks = document.querySelector("#tasks");

            if (input.checked) {
                tasks.removeAttribute("hx-disable");
            } else {
                tasks.setAttribute("hx-disable", "true");
            }
        }
    </script>
}
