@model DownloadVideoModel

<form method="post">
    <div class="input-group">
        <input class="form-control" asp-for="Url" type="url" placeholder="Video or channel URL"/>
        <button class="btn btn-primary" type="submit">Scan</button>
    </div>

    <span asp-validation-for="Url" class="text-danger"></span>
</form>
