@page "~/Libraries/{libraryId:guid}/Downloads/{handler?}"
@model Index
@{
    ViewData["Title"] = $"Downloads - {Model.Library.Name}";
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<partial name="_DownloadVideo" model="new DownloadVideoModel()"/>

<div class="input-group">
    <label class="input-group-text" asp-for="ChannelId">Channel</label>
    <select
        asp-for="ChannelId"
        hx-get="" hx-page-handler="Downloadable" hx-trigger="input changed"
        hx-target="#downloadable-videos" hx-swap="outerHtml"
        class="form-control form-select">
        <option selected="@(Model.ChannelId is null)">--- Select channel ---</option>
        @foreach (var channel in Model.Channels)
        {
            <option selected="@(Model.ChannelId == channel.Id)" value="@channel.Id">@channel.Name</option>
        }
    </select>
</div>

<partial name="_DownloadableVideos" for="PageData"/>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
}
