@page "~/Libraries/{libraryId:guid}/Downloads/{handler?}"
@using Tubeshade.Server.Pages.Downloads
@model Index
@{
    ViewData["Title"] = $"Downloads - {Model.Library.Name}";
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<div class="row mb-2">
    <partial name="Downloads/_DownloadVideo" model="new DownloadVideoModel()"/>
</div>

<partial name="Downloads/_DownloadsFilter" model="@Model"/>

<partial name="Downloads/_DownloadableVideos" model="Model"/>
