@page "~/Tasks/{handler?}"
@model Index
@{
    ViewData["Title"] = "Tasks";
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    <partial name="Shared/_Navigation"/>
}

<div class="btn-group">
    <button hx-post="" hx-page-handler="ScanSubscriptions" class="btn btn-primary" type="button">
        Scan subscriptions
    </button>
    <button hx-post="" hx-page-handler="ScanSegments" class="btn btn-primary" type="button">
        Scan Sponsor Block segments
    </button>
</div>

<partial name="Libraries/Tasks/_FilteredTasks" model="@Model"/>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
}
