@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Navigation
{
    <partial name="Shared/_Navigation" model="@Model"/>
}

<partial name="Videos/_VideoFilters" model="@Model"/>

<section id="videos">
    <partial name="Videos/_FilteredVideos" model="@Model"/>
</section>
