@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    <partial name="Shared/_Navigation"/>
}

<partial name="Videos/_VideoFilters" model="@Model"/>

<section id="videos">
    <partial name="Videos/_FilteredVideos" model="@Model"/>
</section>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
}
