@model Tubeshade.Server.Pages.Shared.PaginatedData<Tubeshade.Data.Media.Channels.DetailedChannel>

<section id="channel">
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(100%, 425px), 1fr))"
         class="row g-2 mb-2">
        @foreach (var channel in Model.Data)
        {
            <partial name="Channels/_ChannelCard" model="@(new ChannelModel(channel, Model.LibraryId))"/>
        }
    </div>
</section>
