@page "~/Channels/{handler?}"
@model Index
@{
    ViewData["Title"] = "Channels";
}

@section Navigation
{
    <partial name="Shared/_Navigation"/>
}

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var channel in Model.Channels)
    {
        <tr>
            <td>
                <a asp-page="/Channels/Channel" asp-route-channelId="@channel.Id">
                    @channel.Name
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
