html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

img:-moz-loading {
    visibility: hidden;
}

video {
    max-height: 80vh;
}

.tubeshade-video-thumbnail {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.tubeshade-paragraph {
    white-space: pre-line;
    text-align: justify;
}

.tubeshade-time-zone-select {
}

.tubeshade-missing-thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}
