name: Vulnerabilities

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 0 * * 1-5"
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'docs/**'

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  nuget-vulnerabilities:
    name: Check for vulnerabilities
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-dotnet@v5.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: 'source/Tubeshade.Server/package-lock.json'

      - name: Cache NuGet packages
        uses: actions/cache@v4.3.0
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - run: ./build/nuget_vulnerabilities.sh
