@model Tubeshade.Data.Media.ChannelEntity

<div class="btn-group">
    @if (Model.SubscribedAt.HasValue)
    {
        <button hx-post="" hx-page-handler="Unsubscribe" hx-target="closest div" hx-swap="outerHTML"
                type="button" class="btn btn-primary">
            Unsubscribe
        </button>
    }
    else
    {
        <button hx-post="" hx-page-handler="Subscribe" hx-target="closest div" hx-swap="outerHTML"
                type="button" class="btn btn-primary">
            Subscribe
        </button>
    }

    <button hx-post="" hx-page-handler="Scan" hx-swap="none"
            type="button" class="btn btn-primary">
        Scan
    </button>

    <button hx-post="" hx-page-handler="Scan" hx-route-all="true" hx-swap="none"
            type="button" class="btn btn-primary">
        Scan all videos
    </button>

    <button type="button" class="btn btn-danger">Delete</button>
</div>
