@page "~/Libraries/{libraryId:guid}/Channels/{channelId:guid}/{handler?}"
@model Channel
@{
    ViewData["Title"] = Model.Entity.Name;
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<h2>@Model.Entity.Name</h2>

<partial name="Libraries/_VideoFilters" model="@Model"/>

<section id="videos">
    <partial name="Libraries/_FilteredVideos" model="@Model"/>
</section>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
}
