@page "~/Libraries/{libraryId:guid}/Channels/{channelId:guid}/{handler?}"
@model Channel
@{
    ViewData["Title"] = Model.Entity.Name;
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<h2>@Model.Entity.Name</h2>

<partial name="Videos/_VideoFilters" model="@Model"/>

<section id="videos">
    <partial name="Videos/_FilteredVideos" model="@Model"/>
</section>
