@page "~/Libraries/{libraryId:guid}/Channels/{channelId:guid}/{handler?}"
@model Channel
@{
    ViewData["Title"] = Model.Entity.Name;
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<h2>@Model.Entity.Name</h2>

<input class="form-control" type="search" placeholder="Search videos" asp-for="Query"
       hx-get="" hx-page-handler="" hx-params="*"
       hx-trigger="input changed delay:100ms, keyup[key='Enter']"
       hx-target="#tabs" hx-swap="outerHtml"
       hx-indicator=".htmx-indicator"/>

<partial name="_ChannelTabs" model="@Model"/>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
}
